<!DOCTYPE html>
<html>

<head>
    <title>열람실 좌석 정보</title>
    <% include ../common/commonHeader %>

    <style>
        .seat-seat {
            width: 10rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" onclick="history.back();">뒤로가기</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#" id="roominfo-room-name"></a>

        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

        </div>
    </nav>
    <div class="row">
        <table class="">
            <tbody id="roominfo_tbody">

            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="row">
                기록 시간 : <span id="roominfo_record_time"></span>
            </div>
            <div class="row">
                온도 : <span id="roominfo_temperature"></span>
            </div>
            <div class="row">
                습도 : <span id="roominfo_humidity"></span>
            </div>
        </div>
    </div>

    <div style="display: none;">
        <div id="roominfo_seat_used" class="card text-white bg-primary mb-3 seat-seat">
            <div class="card-header row">
                <div class="col-3 roominfo-seatnumber">
                    1
                </div>
                <div class="col-9 roominfo-seat-sn">
                    201320965
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">소음 <span class="roominfo-seat-sound"></span></h5>
                <h5 class="card-title">이용률 <span class="roominfo-seat-use"></span>%</h5>
            </div>
        </div>

        <div class="card bg-light mb-3 seat-seat" id="roominfo_seat_not_used">
            <div class="card-header row">
                <div class="col-3 roominfo-seatnumber">
                    1
                </div>
                <div class="col-9">
                    빈자리
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">소음</h5>
                <h5 class="card-title">이용률</h5>
            </div>
        </div>
    </div>

    <script>
        var mIdx = new URL(window.location.href).searchParams.get("rn");
        function setRoomName() {
            $.ajax({
                url: "/room/json/getRoomName",
                method: "post",
                data: { idx: mIdx }
            }).done(function (_data) {
                $('#roominfo-room-name').html(_data);
            });
        }

        function setSeatInfo() {
            $.ajax({
                url: "/room/json/getRoomInfo",
                method: "post",
                data: { idx: mIdx }
            }).done(function (_data) {
                $('#roominfo_tbody').html("");
                var tr = $('<tr></tr>');
                for (var i = 0; i < _data.length; i++) {
                    var td = $('<td></td>');
                    var seat = _data[i];

                    var isUsed = seat.student_number != null; // 사용되는 좌석인지 아닌지.

                    var clone = isUsed ? $('#roominfo_seat_used').clone() : $('#roominfo_seat_not_used').clone();

                    clone.attr('id', 'roominfo_seat_' + seat.idx);
                    clone.find('.roominfo-seatnumber').html(seat.sheet_number);

                    if (isUsed) {
                        clone.find('.roominfo-seat-sn').html(seat.student_number);
                        clone.find('.roominfo-seat-sound').html(seat.avg_sound);
                        clone.find('.roominfo-seat-use').html(Math.floor(seat.avg_use_sheet * 100));
                    }
                    td.append(clone);
                    tr.append(td);

                    if (i % 5 == 4) { // 한줄이 다차면.
                        $('#roominfo_tbody').append(tr);
                        tr = $('<tr></tr>')
                    }
                }
                $('#roominfo_tbody').append(tr);
            });
        }
        function formatDate(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
        }

        function setRoomData() {
            $.ajax({
                url: "/room/json/getRoomData",
                method: "post",
                data: { room_idx: mIdx }
            }).done(function (_data) {
                if (_data.t == null)
                    return;
                $('#roominfo_record_time').html(formatDate(new Date(_data.t)));
                $('#roominfo_humidity').html(_data.humidity);
                $('#roominfo_temperature').html(_data.temperature);
            })
        }

        $(document).ready(function () {
            setRoomName();
            setSeatInfo();
            setRoomData();
            setInterval(function () {
                setSeatInfo();
                setRoomData();
            }, 5000);

        });
    </script>
</body>

</html>