<!DOCTYPE html>
<html>

<head>
    <title>열람실 좌석 정보</title>
    <% include ../common/commonHeader %>

    <style>
        .seat-seat {
            width: 10rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" onclick="history.back();">뒤로가기</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#" id="roominfo-room-name">Navbar 2</a>

        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

        </div>
    </nav>
    <div class="row">
        <table class="">
            <tbody>
                <tr>
                    <td>
                        <div class="card text-white bg-primary mb-3 seat-seat">
                            <div class="card-header">201320965</div>
                            <div class="card-body">
                                <h5 class="card-title">소음 5</h5>
                                <h5 class="card-title">이용률 50%</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="seat-seat"></div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card text-white bg-primary mb-3 seat-seat">
                            <div class="card-header">201320965</div>
                            <div class="card-body">
                                <h5 class="card-title">소음 5</h5>
                                <h5 class="card-title">이용률 50%</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="seat-seat"></div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="row">
                온도
            </div>
            <div class="row">
                습도
            </div>
        </div>
    </div>
    <script>
        var rn = new URL(window.location.href).searchParams.get("rn");
        console.log(rn);
        $('#roominfo-room-name').html(rn);
    </script>
</body>

</html>