<!DOCTYPE html>
<html>

<head>
    <title>좌석정보</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <style>
        .seat-seat {
            width: 10rem;
        }
    </style>
</head>

<body>
    <div class="row">
        <table class="">
            <tbody>
                <tr>
                    <td>
                        <div class="card text-white bg-primary mb-3 seat-seat">
                            <div class="card-header">201320965</div>
                            <div class="card-body">
                                <h5 class="card-title">소음 5</h5>
                                <h5 class="card-title">이용률 50%</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="seat-seat"></div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card text-white bg-primary mb-3 seat-seat">
                            <div class="card-header">201320965</div>
                            <div class="card-body">
                                <h5 class="card-title">소음 5</h5>
                                <h5 class="card-title">이용률 50%</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="seat-seat"></div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light mb-3 seat-seat">
                            <div class="card-header">빈자리</div>
                            <div class="card-body">
                                <h5 class="card-title">소음</h5>
                                <h5 class="card-title">이용률</h5>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="row">
                온도
            </div>
            <div class="row">
                습도
            </div>
        </div>
    </div>

</body>

</html>